body {
  font-family: verdana,sans-serif;
}

h1 {
  margin-bottom: 0.5em;
  font-family: georgia,serif;
}

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-family: georgia,serif;
}

h3 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-family: georgia,serif;
}

p {
  font-size: 16px;
  font-family: verdana, sans-serif;
  line-height: normal;
}